{% extends "base.html" %} {% block title %}{{name}}{% endblock %}# {% block
content %}
<form method="POST">
  <br />
  <h3>Change Password</h3>
  <div class="form-group">
    <label for="old_password">Old Password</label>
    <input
      type="password"
      class="form-control"
      id="old_password"
      name="old_password"
      placeholder="Enter old password" />
    <label for="new_password">New Password</label>
    <input
      type="password"
      class="form-control"
      id="new_password"
      name="new_password"
      placeholder="Enter new password" />
    <label for="new_password_retype">Retype new Password</label>
    <input
      type="password"
      class="form-control"
      id="new_password_retype"
      name="new_password_retype"
      placeholder="Retype new password" />
  </div>
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
{% endblock %}
