{% extends "base.html" %} {% block title %}{{name}}{% endblock %}# {% block
content %}
<form method="POST">
  <br />
  <h3>Reset Password</h3>
  {% if valid_link %}
  <div class="form-group">
    <label for="new_password">New Password</label>
    <input
      type="password"
      class="form-control"
      id="new_password"
      name="new_password"
      placeholder="Enter new password" />
    <label for="new_password_retype">Retype new Password</label>
    <input
      type="password"
      class="form-control"
      id="new_password_retype"
      name="new_password_retype"
      placeholder="Retype new password" />
  </div>
  <button type="submit" class="btn btn-primary">Reset password</button>
  {% else %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"
      >&times;</span
    >
    The reset password link is not valid. It may have timed out.
  </div>
  {% endif %}
</form>
{% endblock %}
